<h1>Books</h1>

<% @book.each do |list| %>

  <p>Title</p>
  <span><%= book.title %></span>
  <p>Body</p>
  <span><%= book.body %></span>
  <span><%= link_to Show, book_path(@books.id) %></span>
  <span><%= link_to Edit, edit_book_path(@book.id) %></span>
  <span><%= link_to Destroy, book_destroy_path(@book.id) %></span>
  
  <%= f.submit 'Create Book' %>
  
<% end %>